.full-height {
    height: 100%;
}
.dafd-header {
    padding: 50px 0px 50px 0px;
}
.logo {
    /*z-index: 3;*/
    margin-bottom: 30px;
}
.stakeholders {
    height: 100px;
}
.banner {
    font-style: italic;
    font-size: 16px;
    color: #444;
}
.btn-container {
    padding-top: 30px;
}
.main-container {
	position: fixed;
	top: 0px;
	left: 0px;
}
#header {
    position: fixed;
    height: 78px;
    display: block;
    width: 100%;
    z-index: 10;
    text-align: center;
    padding: 20px 0 0 0;
    top: 0px;
}
#section-1 {
    background: #f2f2f2;
}
#section-2 {
    background: #8399a0;
}
#section-3 {
    background: linear-gradient(#444444, #818181);
}
.btn-section-2 {
    font-size: 16px;
    margin: 20px;
}

/* BUTTON */
.btn {
    cursor: pointer;
    font-size: 14px;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
    font-family: 'FontAwesome';
    position: relative;
    -webkit-font-smoothing: antialiased;
}

/* Icon separator */
.btn-sep {
    padding: 50px 10px 50px 10px;
}

.btn-sep:before {
    background: rgba(0,0,0,0.15);
}

/* Button 1 */
.btn-1 {
    background: #429993;
    color: #fff;
}

.btn-1:hover {
    background: #b7d16a;
}

.btn-1:active {
    background: #b7d16a;
    top: 2px;
}

.btn-1:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 140%;
    width: 60px;
    line-height: 3;
}

/* Button 3 */
.btn-2 {
    background: #26484a;
    color: #fff;
}

.btn-2:hover {
    background: #8399a0;
}

.btn-2:active {
    background: #8399a0;
    top: 2px;
}

.btn-2:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 140%;
    width: 60px;
    line-height: 3;
}

/* Icons */
.icon-cart:before {
    content: "\f07a";
}

.icon-heart:before {
    content: "\f55a";
}

.icon-info:before {
    content: "\f05a";
}

.icon-send:before {
    content: "\f1d8";
}
/**/

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 40px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

/*TOOL TIP*/

/* Hover tooltips */
/*.field-tip {
    cursor:help;
}
.field-tip .tip-content {
    z-index:1;
    position:absolute;
    left:60px;
    right:9999px;
    width:200px;
    margin-top:-40px; *//* width + left/right padding */
    /*padding:10px;
    color:#fff;
    background:#333;*/
    /*-webkit-box-shadow:2px 2px 5px #aaa;
        -moz-box-shadow:2px 2px 5px #aaa;
            box-shadow:2px 2px 5px #aaa;*/
    /*opacity:0;
    -webkit-transition:opacity 250ms ease-out;
        -moz-transition:opacity 250ms ease-out;
        -ms-transition:opacity 250ms ease-out;
            -o-transition:opacity 250ms ease-out;
            transition:opacity 250ms ease-out;
}*/
/* <http://css-tricks.com/snippets/css/css-triangle/> */
/*.field-tip .tip-content:before {
    content:' '; *//* Must have content to display */
    /*position:absolute;
    top:100%;
    left:-16px; *//* 2 x border width */
    /*width:10;
    height:0;
    margin-top:-8px; *//* - border width */
    /*border:8px solid transparent;
    border-right-color:red;
}*/
/*.field-tip:active .tip-content {
    right:-50%;
    opacity:0;
}*/

.sidenav-fixed {
    height: 100%; /* 100% Full-height */
    background-color: #333; /* Black*/
    padding-top: 60px; /* Place content 60px from the top */
    white-space: nowrap;
  }

/* The navigation menu links */
.sidenav-fixed a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #f1f1f1;
    display: block;
    white-space: nowrap;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav-fixed a:hover {
    color: #767676;
  }
  