.uheader{text-align:right;vertical-align:middle;font-family:century gothic;padding-top:70px;padding-right:50px;padding-bottom:30px;font-size:70px;color:#dcdcdc}
.uheader_login{text-align:center;vertical-align:middle;font-family:century gothic;padding-bottom:20px;font-size:70px;color:#dcdcdc}
.usubheader{text-align:right;vertical-align:middle;font-family:century gothic;padding-right:50px;padding-bottom:70px;font-size:25px;color:#dcdcdc}
.usearchres{text-align:center;vertical-align:middle;font-family:century gothic;font-size:25px;color:#dcdcdc}
.uwselect{width:300px}
.utitle_right{width:55%;float:left;display:block;margin:10px 0}
.ufixed_height_360{height:360px}
.umessage{color:#bf7e82;font-size:20px}
.utitle{height:70px}
.logoutButton{border:none;outline:none;background:none;cursor:pointer;padding:12px 20px;color:#5A738E;width:100%;text-align:left}
.logoutButton:hover{background-color:#f7f7f7}
.ucenter{text-align:center;padding:10px}