{% extends "layout.html" %}

{%  block content %}
                
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left utitle">
                <h3>Run Analysis</h3>
                <br/>
            </div>
        </div>
        <div class="clearfix"></div>

        <form action="{{ url_for('nn.run') }}" method='post'>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Data Summary</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div>
                            <label>Dataset name:</label>
                            <input type='text' name='filename' value='{{ filename }}' readonly/>
                        </div>

                        <!--<div id="container"></div>-->

                        <input type='submit' name='submit' value='Classification' class="btn btn-success"/>
                        <input type='submit' name='submit' value='Regression' class="btn btn-success"/>

                        <br/>
                        <table border=1>
                            <tr>
                                <th>target variable</th>
                                <th>drop?</th>
                                {% for column in columns %}
                                    <th>{{column}}</th>
                                {% endfor %}
                            </tr>
                            {% for row in data %}
                            <tr>
                                <td><input type='checkbox' name='target' value='{{row[0]}}'/></td>
                                <td><input type='checkbox' name='drop' value='{{row[0]}}'/></td>
                                {% for col in row %}
                                    {% if loop.index==3 %}
                                        {% if col==0 %}
                                            <td></td>
                                        {% elif col==1 %}
                                            <td>
                                                <select name='todo_datetime'>
                                                    <!--<option value='drop' selected>Drop</option>-->
                                                    <option value='category'>To Categorical</option>
                                                    <option value='factorize'>Factorize</option>
                                                </select>
                                            </td>
                                        {% elif col==2 %}
                                            <td>
                                                <select name='todo_text'>
                                                    <!--<option value='drop' selected>Drop</option>-->
                                                    <option value='category'>To Categorical</option>
                                                </select>
                                            </td>
                                        {% endif %}
                                    {% else %}
                                        <td>{{col}}</td>
                                    {% endif %}
                            {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Advanced Settings</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div>
                            <p>Label encoding:</p>
                            <label><input type='radio' name='encoding' value='label'/>Label Encoding</label>
                            <label><input type='radio' name='encoding' value='onehot'/>One Hot Encoding</label>
                            <label><input type='radio' name='encoding' value='none' checked/>None</label>
                        </div>
                        <div>
                            <p>Data normalization:</p>
                            <label><input type='radio' name='normalization' value='minmax' checked/>Min-Max Scaler</label>
                            <label><input type='radio' name='normalization' value='standard'/>Standard Scaler</label>
                            <label><input type='radio' name='normalization' value='robust'/>Robust Scaler</label>
                            <label><input type='radio' name='normalization' value='none'/>None</label>
                        </div>
                        <div>
                            <p>Missing values:</p>
                            <label><input type='radio' name='missing' value='drop' checked/>Dropping</label>
                            <label><input type='radio' name='missing' value='mean'/>Mean-Impute</label>
                            <label><input type='radio' name='missing' value='median'/>Median-Impute</label>
                            <label><input type='radio' name='missing' value='most_frequent'/>Mode-Impute</label>
                        </div>
                        <div>
                            <label>Test size: <input type='text' name='test-size' value='0.2'/></label>
                        </div>
                        <div>
                            <label><input type='checkbox' name='crossval' value='crossval'/>Cross Validation</label><br/>
                            <label><input type='radio' name='cv_method' value='kfold' checked/>K-Fold</label>
                            <label><input type='radio' name='cv_method' value='loo'/>Leave-One-Out</label>
                            <label><input type='radio' name='cv_method' value='stratkfold'/>Stratified K-Fold</label>
                        </div>
                        <div>
                            <label><input type='checkbox' name='dim_red' value='dim_red'/>Dimension reduction (number of new dimensions):</label>
                            <input type='text' name='dimension' value=''/>
                        </div>
                        <div>
                            <label><input type='checkbox' name='hyper-param' value='hyper-param'/>Hyperparameter Optimization:</label>
                            <label><input type='radio' name='tuning' value='grids' checked/>Grid Search</label>
                            <label><input type='radio' name='tuning' value='randoms'/>Random Search</label>
                            <label><input type='radio' name='tuning' value='bayesian'/>Bayesian Optimization</label>
                        </div>
                        <div>
                            <p>Classification metrics:</p>
                            <label><input type='checkbox' name='metrics' value='accuracy' checked/>Accuracy</label>
                            <label><input type='checkbox' name='metrics' value='precision' checked/>Precision</label>
                            <label><input type='checkbox' name='metrics' value='recall' checked/>Recall</label>
                            <label><input type='checkbox' name='metrics' value='f1' checked/>F1 Score</label>
                            <label><input type='checkbox' name='metrics' value='roc_auc' checked/>ROC-AUC Score</label>
                            <!--<label><input type='checkbox' name='metrics' value='mcc' checked/>MCC</label>-->
                        </div>
                        <div>
                            <p>Regression metrics:</p>
                            <label><input type='checkbox' name='reg_metrics' value='mae' checked/>MAE</label>
                            <label><input type='checkbox' name='reg_metrics' value='mse' checked/>MSE</label>
                            <label><input type='checkbox' name='reg_metrics' value='rmse' checked/>RMSE</label>
                            <label><input type='checkbox' name='reg_metrics' value='r2' checked/>R^2</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
<!-- /page content -->
{% endblock %}

{% block add_script %}
    <script src="{{ url_for('static', filename='js/progressbar.min.js') }}"></script>
    <script>

        var bar = new ProgressBar.Line(container, {
            strokeWidth: 2,
            easing: 'easeInOut',
            duration: 3000,
            color: '#FFEA82',
            trailColor: '#eee',
            trailWidth: 1,
            text: {
                style: {
                // Text color.
                // Default: same as stroke color (options.color)
                color: '#999',
                position: 'absolute',
                right: '0',
                top: '30px',
                padding: 0,
                margin: 0,
                transform: null
                },
                autoStyleContainer: false
            },
            step: (state, bar) => {
                bar.setText(Math.round(bar.value() * 100) + ' %');
            }
        });
        bar.animate(1.0);  // Number from 0.0 to 1.0

    </script>

{% endblock %}