{% extends "layout.html" %}
  
{%  block content %}
<!-- page content -->
<div class="container content-container">
    <form action="{{ url_for('nn.run') }}" method='post'>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h3>Data Summary</h3>
                {{ model_idx }}
                <ul>
                    <li>Select the target variable. This is the variable that is going to be predicted by the model.</li>
                    <li>Define the type of learning: Classification for a discrete target variable, or Regression for a continuous target variable.</li>
                    <li>Rename the model if necessary, otherwise leave as it is.</li>
                </ul>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <label><b>Dataset name:</b></label>
                        <input class='form-standard form-text' type='text' name='filename' value='{{ filename }}' readonly/>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <label><b>Model name (required):</b></label>
                        <input class='form-standard form-text' id='model-name' type='text' name='model-name' value='{{ model_name }}'/>
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <label><b>Target variable:</b></label>
                        <select class='form-standard' id='target_select' name='target_single'>
                            <option value='empty' selected>--Select a target variable--</option>
                            {% for row in data %}
                            <option value='{{row[0]}}'>{{row[0]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <label><b>Type of learning:</b></label>
                        <select class='form-standard' id='mode_select' name='mode' onChange="populateMetrics()">
                            <option value='classification' selected>Classification</option>
                            <option value='regression'>Regression</option>
                        </select>
                    </div>
                </div>
                <div class="spacer"></div>

                <!--<input type='submit' name='submit' value='Classification' class="btn btn-success run"/>
                <input type='submit' name='submit' value='Regression' class="btn btn-success run"/>-->
                
                <label><b>Data overview:</b></label>
                <ul>
                    <li>Check any variables that are to be removed.</li>
                    <li>The target variable will be automatically removed even if it is not checked.</li>
                    <li>Below are several tips on removing unnecessary variables:
                        <ul>
                            <li>Variables with unique values equal to the number of entries do not add any value to the model, and so does variables with a single or zero unique value.</li>
                            <li>Non-numeric variables are also not currently supported, so please remove them.</li>
                            <li>Empty columns typically appears with 'Unnamed: x' name. Please remove them as well.</li>
                        </ul>
                    </li>
                </ul>
                <table id="summary" class="overview-table table table-condensed">
                    <tr>
                        <!--<th>target variable</th>-->
                        <th>drop?</th>
                        {% for column in columns %}
                            <th>{{column}}</th>
                        {% endfor %}
                    </tr>
                    {% for row in data %}
                    <tr>
                        <!--<td><span class='targetVar'><input type='checkbox' name='target' value='{{row[0]}}'/></span></td>-->
                        <td><input type='checkbox' name='drop' value='{{row[0]}}'/></td>
                        {% for col in row %}
                            <td>{{col}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                
                <div class="spacer"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type='submit' name='submit' value='Execute' class="btn btn-success run execute" onClick="validityForm()"/>
                    </div>
                </div>
                <div class="spacer"></div>
            </div>
        </div>
    </form>
</div>
<!-- /page content -->
{% endblock %}

{% block add_script %}
<script>
    /*$('.run').on('click', function() {
        var tune = document.getElementById('hyperpars').checked
        var m = document.getElementById('reqParam0').value
        var a = document.getElementById('reqParam1').value
        var b = document.getElementById('reqParam2').value
        var c = document.getElementById('reqParam3').value
        var d = document.getElementById('reqParam4').value


        if (m == null || m == "") {
            alert("Please fill the model name!");
            event.preventDefault();
        }

        //if (a == null || a == "", b == null || b == "", c == null || c == "", d == null || d == "") {
        if(tune) {

            if (a == null || a == "" || b == null || b == "" || c == null || c == "" || d == null || d == "") {
                //alert(document.getElementById('reqParam1').value)
                alert("Please fill all required fields (NN Parameters Setting)!");
                event.preventDefault();
            }
        }
    });*/
</script>
{% endblock %}
