{% extends "layout.html" %}

{%  block content %}
<div class="section active" id="section-4">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<form action="{{ url_for('nn.analysis') }}" id="train-form" method="post" enctype="multipart/form-data">
				<div class="form-group files">
					<h6>Train Your Neural Network</h6>
					<input id="train-data" name="file" type="file" class="form-control" multiple="" onchange=""/>
				</div>
			</form>
		</div>
		<div class="col-md-1"></div>
	</div>
	<!--<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="slider-container">
				<div class="container" style="height: 400px;">
					test
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>-->
</div>
{% endblock %}

{% block add_script %}
	<script type="text/javascript">
		document.getElementById("train-data").onchange = function() {
			document.getElementById("train-form").submit();
		};
	
		var myFullpage = new fullpage('#fullpage', {
			//sectionsColor: ['#f2f2f2', '#8399a0', '#8399a0', '#b7d16a'],
			//slidesNavigation: true,
			anchors: ['home', 'designAutomation', 'performancePrediction'],
			navigation:true,
			scrollOverflow: true
		});
	</script>

{% endblock %}