{% extends "layout.html" %}

{%  block content %}
	<div class="section active" id="section-1">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8 text-center">
					<div class="row">
						<div class="col-md-12 text-center">
								<div class="logo">
									<img src="{{ url_for('static', filename='img/dafd-logo.png') }}" width="300px"/>
								</div>
							<div class="banner">
								<p>The first microfluidic design automation software to deliver a user-specified desired performance using machine learning.</p>
							</div>
						</div>
						<!--<div class="col-md-6 text-center">
							<header>
								<video data-keepplaying autoplay="autoplay" muted="muted" loop="loop">
									<source src="{{ url_for('static', filename='img/DAFD_place_holder_video.mp4') }}" type="video/mp4">
								</video>
							</header>
						</div>-->
					</div>
					<div class="stakeholders">
						<img class="stakeholders-img" src="{{ url_for('static', filename='img/logo-Cidar-Color-small.png') }}"/>
						<img class="stakeholders-img" src="{{ url_for('static', filename='img/damp-lab-logo-2x_1.png') }}"/>
						<img class="stakeholders-img" src="{{ url_for('static', filename='img/BDC.png') }}"/>
						<img class="stakeholders-img" src="{{ url_for('static', filename='img/BU.png') }}"/>
					</div>
					<div class="btn-container">
						<!--<img src="{{ url_for('static', filename='img/design.png') }}" style='height:60px;'/>-->
						<button class="btn btn-2 btn-sep" >Forward Model</button>
						<button class="btn btn-1 btn-sep" id="go-btn" href="#section-2">Reverse Model</button>
						<button class="btn btn-2 btn-sep" id="go-btn" href="#section-2">Neural Optimizer</button>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
	</div>
	<div class="section" id="section-2">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<form action="" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<div class="slidecontainer">
								<div class="container">
									<h5>Design Automation of Droplet Generators</h5>
									<div class="row">
										<div class="col-md-12">
											<p><h6>.: Desired Performance :.</h6></p>
										</div>
									</div>
									<!--1st row-->
									<div class="row slider-row">
										<!--first column-->
										<div class="col-md-2 text-left">
											<p class="field-tip">Generation rate<!--<span class="tip-content">unit in Hz</span>--></p>
										</div>
										<div class="col-md-3 text-left">
											<input type="range" min="5" max="500" value="5" class="slider" id="genRateRange" onchange="updateIntInput(this.value, 'genRate');">
										</div>
										<div class="col-md-1 text-left">
											<input size="4" type="text" id="genRate" value="5" readonly>
										</div>
										<!--second column-->
										<div class="col-md-2 text-left">
											<p class="field-tip">Droplet size<!--<span class="tip-content">unit in &#181;m</span>--></p>
										</div>
										<div class="col-md-3 text-left">
											<input type="range" min="25" max="250" value="25" class="slider" id="dropSizeRange" onchange="updateIntInput(this.value, 'dropSize');">
										</div>
										<div class="col-md-1 text-left">
											<input size="4" type="text" id="dropSize" value="25" readonly>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<p><h6>.: Design Constraints :.</h6></p>
										</div>
									</div>
									<!--2nd row-->
									<div class="row slider-row">
										<!--1st column-->
										<div class="col-md-2 text-left">
											<p class="field-tip">Orifice width<!--<span class="tip-content">unit in &#181;m</span>--></p>
										</div>
										<div class="col-md-3 text-left">
											<input type="range" min="75" max="175" value="75" class="slider" id="oriWidRange" onchange="updateIntInput(this.value, 'oriWid');">
										</div>
										<div class="col-md-1 text-left">
											<input size="4" type="text" id="oriWid" value="75" readonly>
										</div>
										<!--2nd column-->
										<div class="col-md-2 text-left">
												<p class="field-tip">Normalized water inlet width<!--<span class="tip-content">Channel depth divided by orifice width</span>--></p>
											</div>
											<div class="col-md-3 text-left">
												<input type="range" min="200" max="400" value="200" class="slider" id="normInletRange" onchange="updateFloatInput(this.value, 'normInlet');">
											</div>
											<div class="col-md-1 text-left">
												<input size="4" type="text" id="normInlet" value="2" readonly>
											</div>
									</div>
									<!--3rd row-->
									<div class="row slider-row">
										<!--1st column-->
										<div class="col-md-2 text-left">
											<p class="field-tip">Aspect ratio<!--<span class="tip-content">Channel depth divided by orifice width</span>--></p>
										</div>
										<div class="col-md-3 text-left">
											<input type="range" min="100" max="300" value="100" class="slider" id="aspRatioRange" onchange="updateFloatInput(this.value, 'aspRatio');">
										</div>
										<div class="col-md-1 text-left">
											<input size="4" type="text" id="aspRatio" value="1" readonly>
										</div>
										<!--2nd column-->
										<div class="col-md-2 text-left">
												<p class="field-tip">Normalized oil inlet width<!--<span class="tip-content">Channel depth divided by orifice width</span>--></p>
											</div>
											<div class="col-md-3 text-left">
												<input type="range" min="200" max="400" value="200" class="slider" id="normOilRange" onchange="updateFloatInput(this.value, 'normOil');">
											</div>
											<div class="col-md-1 text-left">
												<input size="4" type="text" id="normOil" value="2" readonly>
											</div>
									</div>
									<!--4th row-->
									<div class="row slider-row">
										<!--1st column-->
										<div class="col-md-2 text-left">
											<p class="field-tip">Expansion ratio<!--<span class="tip-content">unit in &#181;m</span>--></p>
										</div>
										<div class="col-md-3 text-left">
											<input type="range" min="200" max="600" value="200" class="slider" id="expRatioRange" onchange="updateFloatInput(this.value, 'expRatio');">
										</div>
										<div class="col-md-1 text-left">
											<input size="4" type="text" id="expRatio" value="2" readonly>
										</div>
										<!--2nd column-->
										<div class="col-md-2 text-left">
												<p class="field-tip">Flow rate ratio<!--<span class="tip-content">Channel depth divided by orifice width</span>--></p>
											</div>
											<div class="col-md-3 text-left">
												<input type="range" min="200" max="2200" value="200" class="slider" id="flowRatioRange" onchange="updateFloatInput(this.value, 'flowRatio');">
											</div>
											<div class="col-md-1 text-left">
												<input size="4" type="text" id="flowRatio" value="2" readonly>
											</div>
									</div>
									<!--5th row-->
									<div class="row slider-row">
										<!--1st column-->
										<div class="col-md-2 text-left">
											<p class="field-tip">Normalized orifice length<!--<span class="tip-content">unit in &#181;m</span>--></p>
										</div>
										<div class="col-md-3 text-left">
											<input type="range" min="100" max="300" value="100" class="slider" id="normOriRange" onchange="updateFloatInput(this.value, 'normOri');">
										</div>
										<div class="col-md-1 text-left">
											<input size="4" type="text" id="normOri" value="1" readonly>
										</div>
										<!--2nd column-->
										<div class="col-md-2 text-left">
												<p class="field-tip">Capillary number<!--<span class="tip-content">Channel depth divided by orifice width</span>--></p>
											</div>
											<div class="col-md-3 text-left">
												<input type="range" min="3" max="106" value="3" class="slider" id="capNumRange" onchange="updateFloatInput(this.value, 'capNum');">
											</div>
											<div class="col-md-1 text-left">
												<input size="4" type="text" id="capNum" value="0.03" readonly>
											</div>
									</div>
									<!--6th row-->
									<div class="row slider-row">
										<!--1st column-->
										<div class="col-md-6"></div>
										<!--2nd column-->
										<div class="col-md-2 text-left">
												<p class="field-tip">Regime<!--<span class="tip-content">Channel depth divided by orifice width</span>--></p>
											</div>
											<div class="col-md-4 text-left">
												<select class="cmbox">
													<option value="1">1</option>
													<option value="2">2</option>
												</select>
											</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<input type="submit" class="btn-section-2" value="Generate Design"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
	</div>
	<div class="section" id="section-3">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<form action="" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<div class="slidecontainer">
								<div class="container">	
									<h5>Performance Prediction of Droplet Generators</h5>
									<div class="row">
										<div class="col-md-12">
											<p><h6>.: Design Parameters :.</h6></p>
										</div>
									</div>
									<!--1st row-->
									<div class="row slider-row">
										<!--1st column-->
										<div class="col-md-2 text-left">
											<p class="field-tip">Orifice width<!--<span class="tip-content">unit in &#181;m</span>--></p>
										</div>
										<div class="col-md-3 text-left">
											<input type="range" min="75" max="175" value="75" class="slider" id="oriWidRange2" onchange="updateIntInput(this.value, 'oriWid2');">
										</div>
										<div class="col-md-1 text-left">
											<input size="4" type="text" id="oriWid2" value="75" readonly>
										</div>
										<!--2nd column-->
										<div class="col-md-2 text-left">
												<p class="field-tip">Normalized water inlet width<!--<span class="tip-content">Channel depth divided by orifice width</span>--></p>
											</div>
											<div class="col-md-3 text-left">
												<input type="range" min="200" max="400" value="200" class="slider" id="normInletRange2" onchange="updateFloatInput(this.value, 'normInlet2');">
											</div>
											<div class="col-md-1 text-left">
												<input size="4" type="text" id="normInlet2" value="2" readonly>
											</div>
									</div>
									<!--3rd row-->
									<div class="row slider-row">
										<!--1st column-->
										<div class="col-md-2 text-left">
											<p class="field-tip">Aspect ratio<!--<span class="tip-content">Channel depth divided by orifice width</span>--></p>
										</div>
										<div class="col-md-3 text-left">
											<input type="range" min="100" max="300" value="100" class="slider" id="aspRatioRange2" onchange="updateFloatInput(this.value, 'aspRatio2');">
										</div>
										<div class="col-md-1 text-left">
											<input size="4" type="text" id="aspRatio2" value="1" readonly>
										</div>
										<!--2nd column-->
										<div class="col-md-2 text-left">
												<p class="field-tip">Normalized oil inlet width<!--<span class="tip-content">Channel depth divided by orifice width</span>--></p>
											</div>
											<div class="col-md-3 text-left">
												<input type="range" min="200" max="400" value="200" class="slider" id="normOilRange2" onchange="updateFloatInput(this.value, 'normOil2');">
											</div>
											<div class="col-md-1 text-left">
												<input size="4" type="text" id="normOil2" value="2" readonly>
											</div>
									</div>
									<!--4th row-->
									<div class="row slider-row">
										<!--1st column-->
										<div class="col-md-2 text-left">
											<p class="field-tip">Expansion ratio<!--<span class="tip-content">unit in &#181;m</span>--></p>
										</div>
										<div class="col-md-3 text-left">
											<input type="range" min="200" max="600" value="200" class="slider" id="expRatioRange2" onchange="updateFloatInput(this.value, 'expRatio2');">
										</div>
										<div class="col-md-1 text-left">
											<input size="4" type="text" id="expRatio2" value="2" readonly>
										</div>
										<!--2nd column-->
										<div class="col-md-2 text-left">
												<p class="field-tip">Flow rate ratio<!--<span class="tip-content">Channel depth divided by orifice width</span>--></p>
											</div>
											<div class="col-md-3 text-left">
												<input type="range" min="200" max="2200" value="200" class="slider" id="flowRatioRange2" onchange="updateFloatInput(this.value, 'flowRatio2');">
											</div>
											<div class="col-md-1 text-left">
												<input size="4" type="text" id="flowRatio2" value="2" readonly>
											</div>
									</div>
									<!--5th row-->
									<div class="row slider-row">
										<!--1st column-->
										<div class="col-md-2 text-left">
											<p class="field-tip">Normalized orifice length<!--<span class="tip-content">unit in &#181;m</span>--></p>
										</div>
										<div class="col-md-3 text-left">
											<input type="range" min="100" max="300" value="100" class="slider" id="normOriRange2" onchange="updateFloatInput(this.value, 'normOri2');">
										</div>
										<div class="col-md-1 text-left">
											<input size="4" type="text" id="normOri2" value="1" readonly>
										</div>
										<!--2nd column-->
										<div class="col-md-2 text-left">
												<p class="field-tip">Capillary number<!--<span class="tip-content">Channel depth divided by orifice width</span>--></p>
											</div>
											<div class="col-md-3 text-left">
												<input type="range" min="3" max="106" value="3" class="slider" id="capNumRange2" onchange="updateFloatInput(this.value, 'capNum2');">
											</div>
											<div class="col-md-1 text-left">
												<input size="4" type="text" id="capNum2" value="0.03" readonly>
											</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<input type="submit" class="btn-section-2" value="Predict Performance"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
	</div>
	<div class="section" id="section-4">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<form action="{{ url_for('nn.analysis') }}" id="train-form" method="post" enctype="multipart/form-data">
						<div class="form-group files">
							<h6>Upload the Training Dataset</h6>
							<input id="train-data" name="file" type="file" class="form-control" multiple=""/>
						</div>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
	</div>
{% endblock %}

{% block add_script %}
{% endblock %}